/*Cores*/ 
:root{
  --brancoHolandes: #fceac5;
  --jasmine: #FAD589;
  --zomp: #32A287;
  --macaroni: #FAB27D;
  --littleboyblue: #649EFA;
  --chinesered: #B94227;
  --azulalgumacoisa: #254DAE;
}

@font-face {
  font-family: 'Bocono';
  src: url(Bonocô.ttf);
}

body {
  background-color: var(--jasmine) !important;
}

.borda{
  border-bottom: 1px solid var(--azulalgumacoisa);
}

.border-footer{
  border-top: 1px solid var(--azulalgumacoisa);
}

.text-footer{
  color: var(--chinesered);
  font-weight: 700;
}

.bi-house-heart, .bi-tsunami{
  color: var(--chinesered) !important;
}

.bi{
  color: var(--azulalgumacoisa);
}

.subtitle{
  color: var(--chinesered);
  font-weight: 700;
}

.icon:hover{
  color: var(--chinesered);
}

.marginTopn125{
  margin-top: -1.25rem !important;
}

.chineseRed{
  background-color: var(--littleboyblue);
}

.mini-text{
  font-family: 'Rubik', sans-serif;
  font-size: 10pt;
  font-style: italic;
  font-weight: 300;
}

.imagem{
  max-width: 1240px;
  max-height: 270px;
}

.text-header{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 20pt;
  color: var(--azulalgumacoisa);
}

h6.card-subtitle{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

p,a{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-align: justify;
}

h1.titulo{
  font-family: 'Bocono',sans-serif;
  font-size: 60pt;
  color: var(--azulalgumacoisa);
}

.text-more{
  font-family: 'Rubik', sans-serif;
  font-size: 30pt;
  font-weight: 700;
  color: var(--azulalgumacoisa);
}

/*Overlay*/
.overlay{
  position: absolute;
  display: none;
  top: 25%;
  left: 25%;
  background-image: url(../img/card-animal.png);
  background-size: 90%;
  background-repeat: no-repeat;
}


/*Circle*/
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 70%;
  justify-content: space-around ;
}

.circular-chart.green .circle {
  stroke: var(--chinesered);
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 250px;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.percentage {
  fill: var(--azulalgumacoisa);
  font-family: 'Rubik', sans-serif;
  font-size: 0.3em;
  text-anchor: middle;
  font-weight: 800;
}
